USE [dev_tienda_carb]
GO
/****** Object:  Table [dbo].[TBL_INV_CATEGORY]    Script Date: 22/04/2024 5:33:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INV_CATEGORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](30) NOT NULL,
	[category_value] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_INV_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INV_ORDER]    Script Date: 22/04/2024 5:33:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INV_ORDER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[order_date] [datetime] NULL,
	[order_quantity] [int] NOT NULL,
	[order_amount] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_TBL_INV_ORDER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INV_PRODUCT]    Script Date: 22/04/2024 5:33:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INV_PRODUCT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [nvarchar](10) NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[product_description] [nvarchar](200) NOT NULL,
	[product_engine_id] [int] NOT NULL,
	[product_type_id] [int] NOT NULL,
	[product_color_id] [int] NOT NULL,
	[product_price] [numeric](18, 2) NOT NULL,
	[product_stock] [tinyint] NOT NULL,
	[product_image] [nvarchar](200) NULL,
 CONSTRAINT [PK_TBL_INV_PRODUCT_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INV_USER]    Script Date: 22/04/2024 5:33:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INV_USER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [nvarchar](30) NOT NULL,
	[user_name] [nvarchar](30) NOT NULL,
	[user_last_name] [nvarchar](30) NOT NULL,
	[user_password] [nvarchar](30) NOT NULL,
	[user_age] [int] NOT NULL,
 CONSTRAINT [PK_TBL_INV_USER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RLT_ORDER_PRODUCT]    Script Date: 22/04/2024 5:33:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RLT_ORDER_PRODUCT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_order] [int] NOT NULL,
	[id_product] [int] NOT NULL,
	[product_quantity] [smallint] NOT NULL,
	[produc_amount] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_TBL_RLT_ORDER_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_INV_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_INV_ORDER_TBL_INV_USER] FOREIGN KEY([id_user])
REFERENCES [dbo].[TBL_INV_USER] ([id])
GO
ALTER TABLE [dbo].[TBL_INV_ORDER] CHECK CONSTRAINT [FK_TBL_INV_ORDER_TBL_INV_USER]
GO
ALTER TABLE [dbo].[TBL_RLT_ORDER_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RLT_ORDER_PRODUCT_TBL_INV_ORDER] FOREIGN KEY([id_order])
REFERENCES [dbo].[TBL_INV_ORDER] ([id])
GO
ALTER TABLE [dbo].[TBL_RLT_ORDER_PRODUCT] CHECK CONSTRAINT [FK_TBL_RLT_ORDER_PRODUCT_TBL_INV_ORDER]
GO
ALTER TABLE [dbo].[TBL_RLT_ORDER_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RLT_ORDER_PRODUCT_TBL_INV_PRODUCT] FOREIGN KEY([id_product])
REFERENCES [dbo].[TBL_INV_PRODUCT] ([id])
GO
ALTER TABLE [dbo].[TBL_RLT_ORDER_PRODUCT] CHECK CONSTRAINT [FK_TBL_RLT_ORDER_PRODUCT_TBL_INV_PRODUCT]
GO
